@{
    ViewData["Title"] = "Contruction";
}


<body style="background-color:#E8E8E8">
    <div class="text-center">
        <br /><br /><br />
        <h1>Faqja n&euml; konstruktim e sip&euml;r...</h1>

        <br /><br /><br />
        <img src="/css/pics/pic2.svg" alt="boy vector" width="560px" height="450px" />

    </div>
</body>