@model SentimentAnalysis_Project.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Emri" class="control-label"></label>
                <input asp-for="Emri" class="form-control" />
                <span asp-validation-for="Emri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mbiemri" class="control-label"></label>
                <input asp-for="Mbiemri" class="form-control" />
                <span asp-validation-for="Mbiemri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ditelindja" class="control-label"></label>
                <input asp-for="Ditelindja" class="form-control" />
                <span asp-validation-for="Ditelindja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gjinia" class="control-label"></label>
                <input asp-for="Gjinia" class="form-control" />
                <span asp-validation-for="Gjinia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstitutiId" class="control-label"></label>
                <select asp-for="InstitutiId" class ="form-control" asp-items="ViewBag.InstitutiId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dega" class="control-label"></label>
                <input asp-for="Dega" class="form-control" />
                <span asp-validation-for="Dega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FakultetiId" class="control-label"></label>
                <input asp-for="FakultetiId" class="form-control" />
                <span asp-validation-for="FakultetiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FillimiStudimeve" class="control-label"></label>
                <input asp-for="FillimiStudimeve" class="form-control" />
                <span asp-validation-for="FillimiStudimeve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MesatarjaNotes" class="control-label"></label>
                <input asp-for="MesatarjaNotes" class="form-control" />
                <span asp-validation-for="MesatarjaNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
