@model SentimentAnalysis_Project.Models.Analiza

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Analiza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rezultati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rezultati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdfeedbackNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdfeedbackNavigation.Idfeedback)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idanaliza">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
